<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- подключить скрипт -->
    <script src="js/script.js" type="text/javascript"></script>
    <!-- подключить стиль -->
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<h1>Hello Wolrd!</h1>
<h2>Hello country</h2>
<p>Какой-нибудь текст</p>
<!--<p>Какой-нибудь текст с форматом</p>-->
<br><p>Еще Какой-нибудь текст</p></br>

<!-- горизонтальная линиця -->
<hr>

<!-- ссылка -->
<a href="http://yandex.ru">Яндекс тут</a>

<!-- картинка -->
<img src="c:/temp.jpg">

<!-- таблица -->
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Description</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Barsik</th>
        <th>Голодный</th>
    </tr>
</table>

</body>
</html>